.popup-content-padding {
	padding: 18px 24px;
}
body {

	}
table {
	position: right;
	width:360px;
	height:360px;
	}
th {
	border: 1px solid grey;
	background-color: papayawhip;
	height:100pt;}
td {
	border: 1px solid grey;
	background-color: papayawhip;
	width:100pt;
	} 
#one{
	background-color: rgb(255, 127, 80);
}
#two{
	background-color: rgb(255, 127, 80);
}
#three{
	background-color: rgb(255, 127, 80);
}
#four{
	background-color: rgb(255, 127, 80);
}
#button{
	width: 200px;
	height: 10px;
}	
#oneone {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}
#twotwo {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}
#oneoneone {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

#twotwotwo{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
    
#heh{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: none;
    }
    #hehheh{
        max-width: 100%;
        height: auto;
        display: block;
        marginLeft: 2000px;
        border: none;
    }
}
